body {
    font-family: Georgia, "Times New Roman", serif;
    line-height: 1.5;
    font-size: 18px;
    padding: 0 10px;
    margin: 50px auto;
    max-width: 650px;
}

@media (max-width: 480px) {
  body {
    margin: 28px auto;
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
}
