body {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.6;
}

main {
  max-width: 720px;
  margin: 60px auto;
  padding: 0 20px;
}

h1 {
  font-size: 42px;
}

h3 {
  margin-top: 30px;
}

ul {
  margin-left: 20px;
}
